/* Body */
body {
    margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
}

/* Navbar */
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of 
    our nav bar is not displayed */
    background-color: black;
    position: fixed; /* keeps the navbar at the top of the screen as we scroll */
    top: 0; /* makes the navbar span the entire width of the page */
    width: 100%; /*!!!!!!!!!!!!!! makes navbar span entire width of page*/
    z-index: 1;
}

/* Navbar text */
.Navbar a {
    float: left; /* text floats on the left of the navbar */
    display: block;
    color: ghostwhite;
    padding: 14px 16px;
    text-decoration: none; /* gets rid of underlines */
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
}

/* Navbar hover effect */
.Navbar a:hover {
    background-color: ghostwhite;
    color: dimgray;
    font-weight: bold;
}

/* Navbar Home button */
.Navbar a.active {
    color: salmon;
}

/* Video */
#galaxy {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/* text over the video */
.video_text {
    background: rgba(0, 0, 0, 0.5); /* proviedes semi-transparent background */
    color: ghostwhite;
    width: 100%; /* !!!!!!!!!!!!!!! */
    padding: 25px;
    margin-top: 24%;
}

/* table */
* {
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%; /*!!!!!!!!!!!!!!!!!!*/
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: cadetblue; 
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background: black;
}

.column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 450px;
    background-color: black;
}

row:after {/* inserts something after content of selected elements */
    content: ""; /* allows footer to show up */
    display: table;
    clear: both;
}

/* heading 1 */
h1 {
    text-transform: uppercase; /* capitalize headings */
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 2%;
    color: #1a1a1a;
}

/* paragraphs */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

/* centered text */
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*anchors*/
a{
    color: darkblue;
}

/* quotes */
q {
    font-style: italic;
    font-weight: bold;
}

/* images */
img {
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* contact */
input[type=text] {
    width: 100%;
    padding 12px;
    border 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* submit button */
input[type=submit] {
    background-color: black;
    color: ghostwhite;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* submit hover effect */
input[type=submit]:hover {
    background-color: cadetblue;
    color: black;
    font-weight: bold;
    transform: scale(1.5);
    transition: transform 1.5s;
}

/*form*/
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Trebuchet MS", Optima;
}

/* center hover effect */
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* paragraph hover */
p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/* heading 1 hover effect */
h1:hover {
    color: black;
}

img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

/*footer*/
footer {
    padding: 2%;
    background-color:cadetblue;
}


